@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 35, 63;
  --background: #f8fafc;
  --navy: 10, 35, 63;
  --gold: 246, 198, 35;
  --crimson: 193, 18, 31;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 249, 250, 251;
    --background: #111827;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

